In [1]:
#importing the pandas, matplotlib
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [46]:
#reading the dataset
df = pd.read_csv(r'C:\Users\Acer\Desktop\Capstone 606\dataset\NY_Housing_dataset.csv')

In [47]:
print(df)

                                            BROKERTITLE                TYPE  \
0           Brokered by Douglas Elliman  -111 Fifth Ave      Condo for sale
1                                   Brokered by Serhant      Condo for sale
2                                Brokered by Sowae Corp      House for sale
3                                   Brokered by COMPASS      Condo for sale
4     Brokered by Sotheby's International Realty - E...  Townhouse for sale
...                                                 ...                 ...
4796                                Brokered by COMPASS      Co-op for sale
4797                    Brokered by Mjr Real Estate Llc      Co-op for sale
4798      Brokered by Douglas Elliman - 575 Madison Ave      Co-op for sale
4799            Brokered by E Realty International Corp      Condo for sale
4800                 Brokered by Nyc Realty Brokers Llc      Co-op for sale

          PRICE  BEDS       BATH  PROPERTYSQFT  \
0        315000     2   2.000000   1400.000000
1     195000000     7  10.000000  17545.000000
2        260000     4   2.000000   2015.000000
3         69000     3   1.000000    445.000000
4      55000000     7   2.373861  14175.000000
...         ...   ...        ...           ...
4796     599000     1   1.000000   2184.207862
4797     245000     1   1.000000   2184.207862
4798    1275000     1   1.000000   2184.207862
4799     598125     2   1.000000    655.000000
4800     349000     1   1.000000    750.000000

                                                ADDRESS  \
0                                  2 E 55th St Unit 803
1     Central Park Tower Penthouse-217 W 57th New Yo...
2                                      620 Sinclair Ave
3                               2 E 55th St Unit 908W33
4                                           5 E 64th St
...                                                 ...
4796                               222 E 80th St Apt 3A
4797                                97-40 62 Dr Unit Lg
4798                          427 W 21st St Unit Garden
4799                           91-23 Corona Ave Unit 4G
4800                            460 Neptune Ave Apt 14O

                        STATE  \
0          New York, NY 10022
1          New York, NY 10019
2     Staten Island, NY 10312
3         Manhattan, NY 10022
4          New York, NY 10065
...                       ...
4796      Manhattan, NY 10075
4797      Rego Park, NY 11374
4798       New York, NY 10011
4799       Elmhurst, NY 11373
4800       Brooklyn, NY 11224

                                           MAIN_ADDRESS  \
0                2 E 55th St Unit 803New York, NY 10022
1     Central Park Tower Penthouse-217 W 57th New Yo...
2               620 Sinclair AveStaten Island, NY 10312
3            2 E 55th St Unit 908W33Manhattan, NY 10022
4                         5 E 64th StNew York, NY 10065
...                                                 ...
4796            222 E 80th St Apt 3AManhattan, NY 10075
4797             97-40 62 Dr Unit LgRego Park, NY 11374
4798        427 W 21st St Unit GardenNew York, NY 10011
4799         91-23 Corona Ave Unit 4GElmhurst, NY 11373
4800          460 Neptune Ave Apt 14OBrooklyn, NY 11224

     ADMINISTRATIVE_AREA_LEVEL_2         LOCALITY      SUBLOCALITY  \
0                New York County         New York        Manhattan
1                  United States         New York  New York County
2                  United States         New York  Richmond County
3                  United States         New York  New York County
4                  United States         New York  New York County
...                          ...              ...              ...
4796                    New York  New York County         New York
4797               United States         New York    Queens County
4798               United States         New York  New York County
4799                    New York    Queens County           Queens
4800                    New York     Kings County         Brooklyn

           STREET_NAME         LONG_NAME  \
0     East 55th Street   Regis Residence
1             New York  West 57th Street
2        Staten Island   Sinclair Avenue
3             New York  East 55th Street
4             New York  East 64th Street
...                ...               ...
4796         Manhattan               222
4797            Queens        62nd Drive
4798          New York  West 21st Street
4799          Flushing             91-23
4800      Coney Island               460

                                      FORMATTED_ADDRESS   LATITUDE  LONGITUDE
0     Regis Residence, 2 E 55th St #803, New York, N...  40.761255 -73.974483
1                217 W 57th St, New York, NY 10019, USA  40.766393 -73.980991
2        620 Sinclair Ave, Staten Island, NY 10312, USA  40.541805 -74.196109
3                  2 E 55th St, New York, NY 10022, USA  40.761398 -73.974613
4                  5 E 64th St, New York, NY 10065, USA  40.767224 -73.969856
...                                                 ...        ...        ...
4796         222 E 80th St #3a, New York, NY 10075, USA  40.774350 -73.955879
4797            97-40 62nd Dr, Rego Park, NY 11374, USA  40.732538 -73.860152
4798             427 W 21st St, New York, NY 10011, USA  40.745882 -74.003398
4799     91-23 Corona Ave. #4b, Flushing, NY 11373, USA  40.742770 -73.872752
4800      460 Neptune Ave #14a, Brooklyn, NY 11224, USA  40.579147 -73.970949

[4801 rows x 17 columns]

In [48]:
#getting the size of the dataset(rows,columns)
df.shape

(4801, 17)

In [49]:
#getting the first 10 rows of the data
df.head(10)

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.000000,1400.000000,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483
1,Brokered by Serhant,Condo for sale,195000000,7,10.000000,17545.000000,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,New York,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.766393,-73.980991
2,Brokered by Sowae Corp,House for sale,260000,4,2.000000,2015.000000,620 Sinclair Ave,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",United States,New York,Richmond County,Staten Island,Sinclair Avenue,"620 Sinclair Ave, Staten Island, NY 10312, USA",40.541805,-74.196109
3,Brokered by COMPASS,Condo for sale,69000,3,1.000000,445.000000,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",United States,New York,New York County,New York,East 55th Street,"2 E 55th St, New York, NY 10022, USA",40.761398,-73.974613
4,Brokered by Sotheby's International Realty - E...,Townhouse for sale,55000000,7,2.373861,14175.000000,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",United States,New York,New York County,New York,East 64th Street,"5 E 64th St, New York, NY 10065, USA",40.767224,-73.969856
5,Brokered by Sowae Corp,House for sale,690000,5,2.000000,4004.000000,584 Park Pl,"Brooklyn, NY 11238","584 Park PlBrooklyn, NY 11238",United States,New York,Kings County,Brooklyn,Park Place,"584 Park Pl, Brooklyn, NY 11238, USA",40.674363,-73.958725
6,Brokered by Douglas Elliman - 575 Madison Ave,Condo for sale,899500,2,2.000000,2184.207862,157 W 126th St Unit 1B,"New York, NY 10027","157 W 126th St Unit 1BNew York, NY 10027",New York,New York County,New York,Manhattan,157,"157 W 126th St #1b, New York, NY 10027, USA",40.809448,-73.946777
7,Brokered by Connie Profaci Realty,House for sale,16800000,8,16.000000,33000.000000,177 Benedict Rd,"Staten Island, NY 10304","177 Benedict RdStaten Island, NY 10304",United States,New York,Richmond County,Staten Island,Benedict Road,"177 Benedict Rd, Staten Island, NY 10304, USA",40.595002,-74.106424
8,Brokered by Pantiga Group Inc.,Co-op for sale,265000,1,1.000000,750.000000,875 Morrison Ave Apt 3M,"Bronx, NY 10473","875 Morrison Ave Apt 3MBronx, NY 10473",Bronx County,The Bronx,East Bronx,Morrison Avenue,Parking lot,"Parking lot, 875 Morrison Ave #3m, Bronx, NY 1...",40.821586,-73.874089
9,Brokered by CENTURY 21 MK Realty,Co-op for sale,440000,2,1.000000,978.000000,1350 Ocean Pkwy Apt 5G,"Brooklyn, NY 11230","1350 Ocean Pkwy Apt 5GBrooklyn, NY 11230",New York,Kings County,Brooklyn,Midwood,1350,"1350 Ocean Pkwy #5g, Brooklyn, NY 11230, USA",40.615738,-73.969694

In [61]:
df.describe()

,PRICE,BEDS,BATH,PROPERTYSQFT,LATITUDE,LONGITUDE
count,4.801000e+03,4801.000000,4801.000000,4801.000000,4801.000000,4801.000000
mean,2.356940e+06,3.356801,2.373861,2184.207862,40.714227,-73.941601
std,3.135525e+07,2.602315,1.946962,2377.140894,0.087676,0.101082
min,2.494000e+03,1.000000,0.000000,230.000000,40.499546,-74.253033
25%,4.990000e+05,2.000000,1.000000,1200.000000,40.639375,-73.987143
50%,8.250000e+05,3.000000,2.000000,2184.207862,40.726749,-73.949189
75%,1.495000e+06,4.000000,3.000000,2184.207862,40.771923,-73.870638
max,2.147484e+09,50.000000,50.000000,65535.000000,40.912729,-73.702450

In [50]:
print(df.columns)

Index(['BROKERTITLE', 'TYPE', 'PRICE', 'BEDS', 'BATH', 'PROPERTYSQFT',
       'ADDRESS', 'STATE', 'MAIN_ADDRESS', 'ADMINISTRATIVE_AREA_LEVEL_2',
       'LOCALITY', 'SUBLOCALITY', 'STREET_NAME', 'LONG_NAME',
       'FORMATTED_ADDRESS', 'LATITUDE', 'LONGITUDE'],
      dtype='object')

In [52]:
df.isnull()

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4796,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4797,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4798,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4799,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4800,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [53]:
df.isnull().values.any()

False

In [54]:
df.isnull().sum()

BROKERTITLE                    0
TYPE                           0
PRICE                          0
BEDS                           0
BATH                           0
PROPERTYSQFT                   0
ADDRESS                        0
STATE                          0
MAIN_ADDRESS                   0
ADMINISTRATIVE_AREA_LEVEL_2    0
LOCALITY                       0
SUBLOCALITY                    0
STREET_NAME                    0
LONG_NAME                      0
FORMATTED_ADDRESS              0
LATITUDE                       0
LONGITUDE                      0
dtype: int64